@page "/amount"
@inject HttpClient httpClient
@using System.Collections.Generic

<h1>Schools</h1>

@if (schoolCounts == null) {
    <p><em>Loading...</em></p>
} else {
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>School</th>
                <th>Student Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in schoolCounts)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<KeyValuePair<string, int>> schoolCounts;

    protected override async Task OnInitializedAsync() {
        await load();
    }

    protected async Task load() {
        schoolCounts = await httpClient.GetFromJsonAsync<List<KeyValuePair<string, int>>>($"{Constants.BASE_URL}api/students/count-by-school");
    }
}
